* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins';
    color: #1B1B1B;
    background-color: #1B1B1B;
}

.hilang {
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Mulish';
    color: #BBB;
    background-color: #292929;
}

.hilang .close {
    cursor: pointer;
    padding: 0 5px;
    font-family: 'Prompt';
}
.hilang .close:hover {
    color: #FFF;
}

header {
    z-index: 999;
    position: sticky;
    top: 0;
    padding: 8px 0;
    text-align: center;
    color: #FFF;
    background-color: rgba(27, 27, 27, 0.75);
    backdrop-filter: blur(10px);
}

main .wrapper {
    padding: 15px;
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

main .wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
main .wrapper img:hover {
    opacity: 0.8;
}